<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.final_project_fabian">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Final_Project_Fabian">
        <activity
            android:name=".Segitiga"
            android:exported="false" />
        <activity
            android:name=".Persegi"
            android:exported="false" />
        <activity
            android:name=".Lingkaran1"
            android:exported="false" />
        <activity
            android:name=".Tabung"
            android:exported="false" />
        <activity
            android:name=".Piramid"
            android:exported="false" />
        <activity
            android:name=".Balok"
            android:exported="false" />
        <activity
            android:name=".count"
            android:exported="false" />
        <activity
            android:name=".bgnRuang"
            android:exported="false" />
        <activity
            android:name=".bgnDatar"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".loginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>